<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 通过接口的必须将namespace 指向接口所在的文件夹下 -->
<mapper namespace="com.step.base.mybatis.java.UserMapper">
    <select id="selectUser" resultType="com.step.base.mybatis.java.User">
    select * from User where id = #{id}
  </select>
</mapper>